@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  width: 1200px;
  height: 100%;
  padding: 0 40px;
  margin: 0 auto;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 1200px;
  height: 100%;
  margin: 0;
  color: #333333;
  background-color: #F2F2F2;
}

.main-container {
  display:flex;
  flex-direction:column;
  background-color:#FFFFFF;
  margin:0 auto;
  width: 1200px;
  min-height: 100%;
  box-shadow:0 0 15px rgba(0, 0, 0, 0.2);
}

.main-index {
  flex-grow: 1;
}

.catalog-main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
}

.navigation-list {
  list-style-type: none;
}

.navigation-user {
  list-style-type: none;
}

.navigation-link {
  color: #000000;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-item {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.navigation-button {
  width: 160px;
  height: 36px;
  background: #756157;
  border-radius: 4px;
  text-align: center;
}

.button-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 485px;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
}

.welcome {
  display: block;
  margin: 0 auto;
  margin-top: 51px;
}

.divider-white {
  margin-top: auto;
}

.about-slogan {
  display: block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 69px auto 25px auto;
  color: #000000;
}

.about-text {
  display: block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 25px auto 90px auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
}

.advantages-title {
  display: block;
  width: 175px;
  height: 56px;
  margin: 0 auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-descripion {
  display: block;
  width: 230px;
  height: 42px;
  margin: 0 auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.wrapper-square {
  width: 230px;
  height: 161px;
  padding: 112px 85px;
}

.divider-block {
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  padding: 0;
}

.divider-color-white {
  background: rgba(255, 255, 255, 0.3);
}

.divider-color-black {
  background: rgba(0, 0, 0, 0.3);
}

.color-text-white {
  color: #ffffff;
}

.color-text-black {
  color: #000000;
}

.color-darkblue {
  background: #82B3D3;
}

.color-blue {
  background: rgba(131, 179, 211, 0.2);
}

.color-lightblue {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-image-city {
  display: block;
  margin: 0;
  padding: 0;
}

.advantages-image-mountains {
  display: block;
  margin: 0;
  padding: 0;
}

.services-title-wrapper {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 182px;
  padding: 64px 0 0 0;
  margin: 0;
}

.offers-title {
  display: block;
  width: 505px;
  height: 72px;
  padding: 0;
  margin: 0 auto 20px auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.offers-text {
  display: block;
  width: 490px;
  height: 26px;
  padding: 0;
  margin: 20px auto 64px auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-item {
  display: flex;
}

.services-title {
  display: block;
  width: 230px;
  height: 28px;
  margin: 30px auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.services-text {
  display: block;
  width: 230px;
  height: 63px;
  margin: 0 auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.wrapper-square-services {
  width: 230px;
  height: 223px;
  padding: 81px 85px;
}

.service-icon {
  display: block;
  width: 75px;
  padding: 0;
  margin: 0 auto;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 592px;
  margin: 96px auto;
}

.search-hotel-title {
  display: block;
  width: 297px;
  height: 36px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
}

.search-hotel-text {
  display: block;
  width: 592px;
  height: 52px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 54px auto;
}

.search-hotel-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  text-decoration: none;
  border-radius: 4px;
  padding: 13px 50px;
  margin: 150;
}

.subscribe-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 684px;
  height: 215px;
  padding: 96px 258px 104px 258px;
  background-color: #92c6e9;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.subscribe-index-title {
  display: block;
  margin: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-index-text {
  display: block;
  margin-top: 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-form {
  margin-top: 54px;
  text-align: center;
}

.subscribe-catalog {
  width: 1200px;
  height: 412px;
  background-color: #ffffff;
}

.catalog-choice {
  width: 1200px;
  height: 415px;
  background-color: #ffffff;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  height: 50px;
  padding: 0;
  margin: 40px auto 30px auto;
}

.social-list {
  display: flex;
  flex-direction: row;
  width: 142px;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-item {
  display: block;
}

.social-vk {
  display: block;
  padding: 13px;
}

.social-telegram {
  display: block;
  padding: 13px;
}

.social-youtube {
  display: block;
  padding: 13px;
}

.telephone {
  display: block;
  width: 720px;
  height: 50px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

/* Свойства страницы Catalog */

.catalog-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.navigation-user {
  list-style-type: none;
}

.breadcrumbs {
  list-style-type: none;
}

.infrastructure-list {
  list-style-type: none;
}

.type-housing-list {
  list-style-type: none;
}

.view-list {
  list-style-type: none;
}

.hotel-list{
  list-style-type: none;
}

.pagination-list {
  list-style-type: none;
}

.fieldset {
  border: 0 none;
}

.infrastructure-legend {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.type-housing-legend {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.price-legend {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.infrastructure-list {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.type-housing-list {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.result-search-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-card-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.button-text-white {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.hotel-card-button {
  width: 140px;
  height: 36px;
  background: #756157;
  border-radius: 4px;
  text-align: center;
}

.hotel-card-type {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.rating-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.rating-background {
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
}

.pagination-item-current {
  width: 60px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
}

.pagination-link-current {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  text-align: center;
}

.pagination-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item-points {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
}

.pagination-points {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-catalog-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-catalog-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
