@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
}

body {
  display:flex;
  flex-direction:column;
  align-items: center;
  width: 1200px;
  min-height: 100%;
  margin: 0;
  padding 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  align-content: center;
  width: 1060px;
  min-height: 64px;
}

.logo {
  position: absolute;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  padding: 0;
  margin: 0 0 0 170px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  padding: 0;
  margin: 0 0 0 auto;
  list-style-type: none;
}

.navigation-link {
  display: inline-block;
  padding: 20px 16px;
  margin: 0;
  color: #000000;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 44px;
  height: 64px;
  color: #000000;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 160px;
  height: 36px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 485px;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
}

.welcome {
  display: block;
  margin: 0 auto;
  margin-top: 51px;
}

.divider-white {
  margin-top: auto;
}

.about-slogan {
  display: block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 69px auto 25px auto;
  color: #000000;
}

.about-text {
  display: block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 25px auto 90px auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.advantages-title {
  display: block;
  width: 175px;
  height: 56px;
  margin: 0 auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-descripion {
  display: block;
  width: 232px;
  height: 42px;
  margin: 0 auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item {
  display: flex;
}

.wrapper-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 102px 85px;
  width: 400px;
  height: 385px;
  box-sizing: border-box;
}

.divider-block {
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  padding: 0;
}

.divider-color-white {
  background: rgba(255, 255, 255, 0.3);
}

.divider-color-black {
  background: rgba(0, 0, 0, 0.3);
}

.color-text-white {
  color: #ffffff;
}

.color-text-black {
  color: #000000;
}

.color-darkblue {
  background: #82B3D3;
}

.color-blue {
  background: rgba(131, 179, 211, 0.2);
}

.color-lightblue {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-image-city {
  display: block;
  margin: 0;
  padding: 0;
}

.advantages-image-mountains {
  display: block;
  margin: 0;
  padding: 0;
}

.services-title-wrapper {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 182px;
  padding: 64px 0 0 0;
  margin: 0;
}

.offers-title {
  display: block;
  width: 505px;
  height: 72px;
  padding: 0;
  margin: 0 auto 20px auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.offers-text {
  display: block;
  width: 490px;
  height: 26px;
  padding: 0;
  margin: 20px auto 64px auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-item {
  display: flex;
}

.services-title {
  display: block;
  width: 230px;
  height: 28px;
  margin: 30px auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.services-text {
  display: block;
  width: 230px;
  height: 63px;
  margin: 0 auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.wrapper-square-services {
  width: 230px;
  height: 223px;
  padding: 81px 85px;
}

.service-icon {
  display: block;
  width: 75px;
  padding: 0;
  margin: 0 auto;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 592px;
  margin: 96px auto;
}

.search-hotel-title {
  width: 297px;
  height: 36px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
}

.search-hotel-text {
  width: 592px;
  height: 52px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 54px auto;
}

.search-hotel-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  width: 376px;
  height: 52px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  text-decoration: none;
}

.subscribe-index {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 415px;
  padding: 96px 258px 104px 258px;
  background-color: #92c6e9;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.subscribe-index-title {
  margin: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-index-text {
  margin-top: 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-form {
  margin-top: 54px;
  text-align: center;
}

.subscribe-catalog {
  width: 1200px;
  height: 412px;
  background-color: #ffffff;
}

.social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  height: 50px;
  padding: 0;
  margin: 40px auto 30px auto;
}

.social-list {
  display: flex;
  flex-direction: row;
  width: 142px;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-item {
  display: block;
}

.social-vk {
  display: block;
  padding: 13px;
}

.social-telegram {
  display: block;
  padding: 13px;
}

.social-youtube {
  display: block;
  padding: 16px 13px 13px 16px;
}

.telephone {
  display: block;
  width: 720px;
  height: 50px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

/* Свойства страницы Catalog */


.catalog-choice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  height: 412px;
  background-color: #6ea7d6;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.filter-content {
  display: flex;
  flex-direction: column;
  width: 1060px;
  height: 307px;
  margin-top: 35px;
}

.catalog-title {
  display: block;
  width: 495px;
  height: 78px;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-item {
  display: block;
  padding: 0;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.filters-content {
  display: block;
  width: 1060px;
  height: 160px;
  margin-top: auto;
}

.catalog-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.infrastructure-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  gap: 16px;
  list-style-type: none;
}

.type-housing-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  gap: 16px;
  list-style-type: none;
}

.filters-battons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fieldset {
  border: 0 none;
}

.result-sort-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing:border-box;
  padding: 50px 70px 60px 70px;
  width: 1200px;
  gap: 40px;
  background: #FFFFFF;
}

.sort-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 1060px;
  min-height: 49px;
  flex-wrap: wrap;
}

.view-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.hotel-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0 40px 0;
  margin: 0;
  border-bottom: 1px solid #E6E6E6;
  gap: 20px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  gap: 16px;
  box-sizing: border-box;
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.card-inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hotel-card-title {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.hotel-card-type {
  display: inline-block;
}

.hotel-card-price {
  display: inline-block;
}

.rating-area {
  padding: 0;
  margin: 0;
}

.rating-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  box-sizing: border-box;
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.hotel-card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 140px;
  height: 36px;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
}

.hotel-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 140px;
  height: 36px;
  color: #ffffff;
  background: #82B3D3;
  border-radius: 4px;
  border: 0;
}

.hotel-card-type {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}









.button-sort {
  padding: 16px 18px;
  border: #E5E5E5 solid 2px;
  border-radius: 4px;
}

.button-sort-active {
  padding: 16px 18px;
  border: #000000 solid 2px;
  border-radius: 4px;
}

.navigation-user {
  list-style-type: none;
}

.view-list {
  list-style-type: none;
}

.hotel-list{
  list-style-type: none;
}

.pagination-list {
  list-style-type: none;
}

.infrastructure-legend {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.type-housing-legend {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.price-legend {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.infrastructure-list {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.type-housing-list {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.result-search-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}





.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 1060px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
}

.pagination-item-current {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination-link-current {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item-points {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.pagination-points {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-catalog {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 415px;
  padding: 96px 258px 104px 258px;
}

.subscribe-catalog-title {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-catalog-text {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


.contur {
  outline: 1px solid red;
}
